<div class="header">
    <div class="header__left">
        <i class="fas fa-home" routerLink='/inicio'></i>
        
        <div class="header__search">
            <i class="fas fa-search"></i>
            <input placeholder="Buscar ciudad" type="text">
        </div>
        <div class="header__filter">
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle"  type="button"
                    data-bs-toggle="dropdown">Filtrar</button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">1</a></li>
                    <li><a class="dropdown-item" href="#">2</a></li>
                    <li><a class="dropdown-item" href="#">3</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="header__right">
        <i class="fas fa-moon"></i>
    </div>
</div>