.header{
    padding: 20px 15px;
    display: flex;
    justify-content: space-between;
    background-color: white;
    box-shadow: 0px 5px 8px -5px rgba(0, 0, 0, 0.75);
}
.header__left{
    display: flex;
    justify-content: space-evenly;
}
.header__left > i{
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 20px;
}
.header__search{
    display: flex;
    align-items: center;
    background-color: #eff2f5;
    padding: 10px;
    margin-left: 10px; 
    border-radius: 999px;
}
.header__search > i{
    display: flex;
    align-items: center; 
    color: gray;
    cursor: pointer;
}
.header__search > input {
    border: none;
    background-color: transparent;
    outline-width: 0;
    margin-left: 10px;
}
.header__filter{
    display: flex;
    align-items: center;
    margin-left: 20px;    
}
.header__right{
    font-size: 20px;
    cursor: pointer;
}