.country{
    padding-top: 50px;
    background-color: var(--bg-color);
    min-height: calc(100vh - 72px);
    transition-duration: var(--transition-duration);
}

.country > button{  
    padding: 10px 35px;
    border: none;
    background-color: var(--element-color);
    border-radius: 5px;
    box-shadow: 0 5px 8px rgba(0 0 0 / 10%), 0 0.2rem 0.1rem rgb(0 0 0 / 5%);
    display: flex;
    align-items: center;
    color: var(--text-color);
    transition-duration: var(--transition-duration);
}

.country > button > i{
    margin-right: 10px;
    font-size: 1rem;
    color: var(--icon-color);
    transition-duration: var(--transition-duration);
}
.country__data{
    display: flex;
    margin-top: 50px;

}
.country__left{    
    width: 50%;
    height: 420px;
    margin-right: 4rem;  
    display: flex;
    justify-content: center;
    box-shadow: 0px 5px 17px -7px rgba(0, 0, 0, 0.75);
    border-radius: 10px;
}

.country__left > img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
  }

.country__right{
    width: 50%;
    display: flex;
    align-items: center;   
}
.country__info > h2{
    display: flex; 
    justify-content: center;    
    color: var(--h2-color);
    transition-duration: var(--transition-duration);
}
.country__info > h3, .country__info > p{
    color: var(--text-color);
    transition-duration: var(--transition-duration);
}
.country__bottom{
    display: flex;
    width: 100%;
    margin-top: 50px;
}
.country__bottom > p{
    display: flex;  
    white-space: nowrap;
    margin-top: 5px;
    padding-top: 5px;
    color: var(--text-color);
    transition-duration: var(--transition-duration);
}

.country__borders{
    margin-left: 10px;
}
.country__borders > span > button, .country__borders--none{
  margin: 5px;
  padding: 5px 20px; 
  align-items: center;
  color: var(--text-color);
  transition-duration: var(--transition-duration);
}
.country__borders > span > button{
    border: none;
    background-color: var(--element-color);
    box-shadow: 0px 5px 17px -7px rgba(0, 0, 0, 0.75);
    border-radius: 5px;
    align-items: center;
    transition-duration: var(--transition-duration);
}

@media (max-width:575px){
    .country{
        padding: 50px;      
    }
    .country__data{
        flex-direction: column;       
    }

    .country__left{        
        width: 100%;
        height: 100%;
    } 
    .country__left > img{
        height: 100%;
        width: 100%;
    }
    .country__right{
        width: 100%;      
    }  
    .country__info > h2{
        margin: 20px 0px;
    }
    .country__bottom{
        margin-top: 10px;
       flex-direction: column;
    }
    .country__borders{
        margin: 0px;
    }
    .country__borders--none{
        margin: 0px;
        padding: 0;
    }
}

@media (min-width:576px){   
    .country{
        padding: 40px;

    }
    .country__data{
        flex-direction: column;
    }
    
    .image{
        display: flex;
        justify-content: center;
        height: 100%;
        width: 100%;   
    }
   .country__left{      
        width: 50%;
        height: 100%;
        margin-right: 0;
    } 
    .country__left > img{       
        width: 100%;
   
    }
    .country__right{
        width: 100%;
    }
    .country__info > h2{
        margin: 20px 0px;
    }  
}
@media (min-width:768px) and (max-width:1199px){   
    .country{
        padding: 40px;
    }
    .country__data{
        flex-direction: column;
    }
    .image{
        display: flex;
        justify-content: center;
        height: 100%;
        width: 100%;   
    }
   .country__left{      
        max-width: 60%;
        height: 60%;
    } 
    .country__left > img{       
        width: 100%;     
        object-fit: fill;   
    }


    /*. country__left{
        width: 100%;
        height: 300px;
        margin-right: 0px;
    } 
    .country__left > img{ 
        width: 500px;
    } */
    .country__right{
        width: 100%;      
    }
   
    .country__info > h2{
        margin: 20px 0px;
    }  
}

@media (min-width:1200px){
    .country__data{
        flex-direction: row;
    }
    .image{        
        height: 100%;
        width: 50%;  
        margin-right: 4rem;
    
    }
   .country__left{      
        width: 100%;
        max-height: 100%;   
    } 
    .country__left > img{       
        width: 100%;   
        height: 450px;
        box-shadow: 0 5px 8px rgba(0 0 0 / 10%), 0 0.2rem 0.1rem rgb(0 0 0 / 5%);
        object-fit: cover;
    }
    .country__right{
        width: 50%;
    }

}
