:root{
    --bg-color: white;
    --element-color: #fafafa;
    --icon-color: black;
    --searchAndFilter-color: gray;
    --placeHolder-color: black;
    --text-color: black;
    --h2-color: black;    
    --border: rgba(0,0,0,.125);
    --transition-duration: 0.5s;
}

.dark-mode{
    --bg-color: #202c37;
    --element-color: #2b3945;
    --icon-color: white;
    --searchAndFilter-color: white;
    --placeHolder-color: white;
    --text-color: white;
    --h2-color: white;  
    --transition-duration: 0.5s;
    --border: white;
}

