<div class="container-fluid">
    <div class="cards">
        <div class="cards__top">
            <div class="cards__search">
                <i class="fas fa-search"></i>
                <input placeholder="Search for a country" (keyup)="searchCountries($event)" type="text"
                    list="datalistOptions" id="filterInput">

                <div class="clear__button" *ngIf="clear">         
                    <i class="fas fa-times" (click)="clearButton()" type='reset'></i>
                </div>                
                <!--  <datalist id="datalistOptions">
                    <div *ngFor="let item of countriesFound">
                        <option value="{{item.name}}">
                    </div>
                </datalist> -->
            </div>
            <div class="cards__filter">
                <div class="dropdown cards__dropdown">
                    <button type="button" data-bs-toggle="dropdown">
                        <div> {{filterName}}
                        </div>
                        <i class="fas fa-chevron-down"></i>


                    </button>
                    <ul class="dropdown-menu">
                        <div *ngFor="let region of regions">
                            <li (click)="filterByRegion(region.name)"><a class="dropdown-item">{{region.name}}</a></li>
                        </div>
                    </ul>
                </div>
                <div>
                    Total Countries: {{totalCountries}}
                </div>
            </div>
        </div>


        <div class="cards__countries" id="Cards">
            <ng-container *ngIf="countriesFound && countriesFound.length === 0 else contenido">
                <h2 class="d-flex justify-content-center">Country not found</h2>
            </ng-container>
            <ng-template #contenido>
                <div class="row g-4">
                    <div class="col-3 cards__grid d-flex justify-content-around"
                        *ngFor="let country of countriesFound ? countriesFound : countries">
                        <div class="card" routerLink='/inicio/{{country.alpha3Code}}'>
                            <img src="{{country.flag}}" alt="">
                            <div class="card-body">
                                <h4 class="card-title">{{country.name}}</h4>
                                <p class="card-text">Region: {{country.region}}</p>
                                <p class="card-text">Capital : {{country.capital}}</p>
                                <p class="card-text">Population: {{numberWithCommas(country.population)}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
        </div>

    </div>

</div>