.cards{
    min-height: calc(100vh - 60px);
    width: 100%;  
    background-color: var(--bg-color);   
    transition-duration: var(--transition-duration);
}

.cards__top{
    display: flex;   
    padding: 30px;
}

.cards__search{
    display: flex;
    align-items: center;
    background-color: var(--element-color);
    transition-duration: var(--transition-duration);
    padding: 10px 25px;
    border-radius: 999px;    
    box-shadow: 0px 5px 17px -7px rgba(0, 0, 0, 0.75);
}

.cards__search > i{
    display: flex;
    align-items: center; 
    color: var(--searchAndFilter-color);
    cursor: pointer;  
    transition-duration: var(--transition-duration);
}

.cards__search > input, ::placeholder {
    border: none;
    background-color: transparent;
    outline-width: 0;
    margin-left: 10px;
    width: 100%;
    color: var(--placeHolder-color);
    transition-duration: var(--transition-duration);
}

.cards__search > .clear__button > i{
    margin-right: 5px;
    color: var(--searchAndFilter-color);
    transition-duration: var(--transition-duration);
    cursor: pointer;
}

.cards__filter{
    display: flex;
    align-items: center; 
    height: 46px; 
    justify-content: flex-end;  
}

.total__countries{
    display: flex;
    align-items: center;  
    color: var(--text-color);
    transition-duration: var(--transition-duration);    
}

.total__countries > h2{
    color: var(--text-color);
    transition: var(--transition-duration);
}
.cards__dropdown{
    display: flex;  
    height: 100%; 
   
}

.cards__dropdown > button{  
    display: flex;
    width: 200px;
    background-color: var(--element-color);
    transition-duration: var(--transition-duration);
    border: none;
    outline-width: 0;
    border-radius: 10px;
    align-items: center;
    justify-content: space-between;
    padding-left: 15px;
    color: var(--text-color);
    box-shadow: 0px 5px 17px -7px rgba(0, 0, 0, 0.75); 
}

.cards__dropdown > button > i {   
   margin-right: 15px;
}
.fa-chevron-down{
    transition: all 0.4s ease;
}

.fa-chevron-down:hover{
    transform: rotate(180deg);
}

.dropdown-menu {
    width: 100%;  
}
.dropdown-item{
    cursor: pointer;
}
.cards__grid{
    padding: 30px;
}

.card{
    width: 280px;
    height: 100%;
    box-shadow: 0px 5px 17px -7px rgba(0, 0, 0, 0.75);
    transition: transform 300ms ease-in;
    cursor: pointer;
    border-radius: 0.5rem;
    border: none;
}

.card:hover{
    transform: scale(1.05);
}

.country__notFound{
    color: var(--text-color);
    transition-duration: var(--transition-duration);
}
.card > img{
    border-radius: 0.5rem 0.5rem 0 0;
    object-fit: cover;
    object-position: center center;
    height: 180px;
    width: 100%;
}
.card-title{
    color: var(--text-color);
    transition-duration: var(--transition-duration);
}
.card-body{
    background-color: var(--element-color);
    transition-duration: var(--transition-duration);
  
}
.card-body > p{
    margin-bottom: 10px;
    color: var(--text-color);
    transition-duration: var(--transition-duration);
}

 @media (max-width:575px){
    .cards__top{
        flex-direction: column;       
    }
    .cards__filter{        
        justify-content: flex-start;
        margin-top: 30px;
    }
    
}
